/t/query
/t/plasmids
/t/genomes
/_build
/.idea
/MANIFEST.SKIP.bak
/t/log.txt
/t/data/blastout1.xml
/t/data/blastout2.xml
/t/data/blastout3.xml
/t/data/blastout4.xml
/Build
/_build/auto_features
/_build/build_params
/_build/cleanup
/_build/config_data
/_build/features
/_build/magicnum
/_build/notes
/_build/prereqs
/_build/runtime_params
*.bash
*.directory
*~
/*.bash
*.project
.htaccess
Batch/*
serverSettings.txt
blib/
/MYMETA.json
/MYMETA.yml
/MANIFEST
!/MANIFEST
