/Build
/MYMETA.json
/MYMETA.yml
/_build/auto_features
/_build/build_params
/_build/cleanup
/_build/config_data
/_build/features
/_build/magicnum
/_build/notes
/_build/prereqs
/_build/runtime_params
*.bash
*.directory
*~
/*.bash
*.project
.htaccess
Batch/*
serverSettings.txt
