<TMPL_INCLUDE NAME='pageTop.tmpl'>

<h2 class="ui-widget-header pageHeader">Contact</h2>
<div class="pageWrapper" class="ui-widget">
	<p class="ui-widget-content">
	Please contact chad.r.laing@phac-aspc.gc.ca if you have any questions.
	</p>

	<p class="ui-widget-content">
	If you find Panseq useful, please cite:
	Pan-genome sequence analysis using Panseq: an online tool for the rapid analysis of core and accessory genomic regions
	Chad Laing, Cody Buchanan, Eduardo N Taboada, Yongxiang Zhang, Andrew Kropinski, Andre Villegas, James E Thomas and Victor PJ Gannon.
	<a id="hrefPanseqBMC" href="http://www.biomedcentral.com/1471-2105/11/461">BMC Bioinformatics 2010</a>, 11:461 doi:10.1186/1471-2105-11-461
	</p>
	
</div>

<TMPL_INCLUDE NAME='pageBottom.tmpl'>