<TMPL_INCLUDE NAME='pageTop.tmpl'>

<h2 class="pageHeader ui-widget-header">Downloading Results</h2>
<div class="pageWrapper">
	<p>
	Download initiated.
	</p>
</div>

<TMPL_INCLUDE NAME='pageBottom.tmpl'>