<TMPL_INCLUDE NAME='pageTop.tmpl'>

<form 	method="post",
			enctype="application/x-www-form-urlencoded",
			action="/submit/"
>

<div id="tabs">
	<ul>
		<li><a href="#userPan">Pan</a></li>
		<li><a href="#userNovel">Novel</a></li>
		<li><a href="#userLoci">Loci</a></li>
	</ul>
	<div id="userPan">	
		 		<fieldset>
		  			<legend>Program Options</legend>
		  			<p>Form 1</p>					 
		 		</fieldset> <p>userPan</p>
	</div>


	<div id="userNovel">
		<fieldset>
			<legend>Program Options</legend>
			<p>Form 2</p>
			<div id="source-container">
			  <h2 id="source-title">Widgets</h2>
			  <ul id="source-list">
			    <li>Accordion</li>
			    <li>Autocomplete</li>
			    <li>Button</li>
			    <li>Datepicker</li>
			    <li>Dialog</li>
			    <li>Progressbar</li>
			    <li>Slider</li>
			    <li>Tabs</li>
			  </ul>
			</div>	

			<div id="target-container">
			  <h2 id="target-title">Widgets You Used</h2>
			  <ul id="target-list">
			  </ul>
			</div>

			<div id="transfer-buttons-container">
			  <div id="transfer-buttons">
			    <button id="add-button">Add &rarr;</button>
			    <button id="add-all-button">Add All *&rarr;</button>
			    <button id="remove-button">&larr; Remove</button>
			    <button id="remove-all-button">&larr;* Remove All</button>           
			  </div>
			</div>
		</fieldset>
	</div>

	<div id="userLoci">
		<p>User loci</p>
	</div>
</div>  <!-- end tabs -->
<button>Submit</button>
</form>
</div>


<TMPL_INCLUDE NAME='pageBottom.tmpl'>