<TMPL_INCLUDE NAME='pageTop.tmpl'>

<h2 class="pageHeader ui-widget-header">Welcome</h2>
<div class="pageWrapper" class="ui-widget">
	<p class="panseqDescription">
	Panseq is an easy-to-use, web-based group of tools for pan-genomic analyses.
	</p>


	<p>
	<a href="/panseq/analyses#userNovel">Novel Region Finder</a> </br>
		
		Discover genomic regions unique to a sequence, or group of sequences.
		
	</p>
	

	<p>
	<a href="/panseq/analyses#userPan">Pan-genome Analyses</a></br>
		
		Identify the pan-genome among your sequences. Find SNPs in the core genome and determine the distribution of accessory genomic regions.
	
	</p>

	<p>
	<a href="/panseq/analyses#userLoci">Loci Selector</a></br>
		Identify loci to offer the best discrimination among your dataset.
	</p>

	<p>
	Panseq is open source. Get the standalone version from:<a id="hrefPanseqGithub" href='https://github.com/chadlaing/Panseq'>https://github.com/chadlaing/Panseq</a>
	</p>
</div>

<TMPL_INCLUDE NAME='pageBottom.tmpl'>