<p>Minimum Novel Region size <input name="minimumNovelRegionSize" type="number" min="0" max="10000" step="50" value="500" class="ui-state-active" size=2></p>
<p>Nucmer Values
	b: <input name="nucB" type="number" min="0" max="10000" step="1" value="200" class="ui-state-active" size=2>
	c: <input name="nucC" type="number" min="0" max="1000" step="1" value="50" class="ui-state-active" size=2>
	d: <input name="nucD" type="number" min="0" max="1" step="0.01" value="0.12" class="ui-state-active" size=2>
	g: <input name="nucG" type="number" min="1" max="5000" step="1" value="100" class="ui-state-active" size=2>
	l: <input name="nucL" type="number" min="1" max="100" step="1" value="20" class="ui-state-active" size=2>
</p>