<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta "charset=utf-8" />
	<title>Panseq</title>
	<link href="/panseq/css/panseq.css" rel="stylesheet">
	<link href="/panseq/css/ui-lightness/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
	<script src="/panseq/js/jquery-1.9.1.js"></script>
	<script src="/panseq/js/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="/panseq/js/panseq.js"></script>
	<link href="/panseq/images/favicon.ico" rel="shortcut icon">
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
</head>	

<body>


	<div id="panseqImage">
		<p>pan~genomic sequence analysis</p>
	</div>



<div class="nav" id="nav">
	<ul>
		<!-- <li><a id="hrefHome" href="/panseq/home/">Home</a></li>
		<li><a id="hrefAnalyses" href="/panseq/analyses/">Analyses</a></li>
		<li><a id="hrefContact" href="/panseq/contact/">Contact</a></li> -->
		<li><button id="hrefHome" >Home</button></li>
		<li><button id="hrefAnalyses">Analyses</button></li>
		<li><button id="hrefContact">Contact</button></li>
	</ul>
</div>