<div class="strainSelectionRow">
	<div class="selectionContainer">
	  <h2 class="selectionTitle">Query Strains</h2>
	  	<div class="listContainer">
		  <ul id="query-source-list-novel" class="ui-widget-content">
		    <TMPL_INCLUDE NAME="strainList.tmpl">
		  </ul>
		</div>		
	</div>	

	<div class="transferContainer">
	  <div id="query-transfer-buttons-novel">
	    <button id="query-add-button-novel">Add &rarr;</button>
	    <button id="query-remove-button-novel">&larr; Remove</button>
	    <button id="query-remove-all-button-novel">&larr;* Remove All</button>    
	  </div>
	</div>

	<div class="selectionContainer ui-state-default">
		  <h2 class="selectionTitle">Selected Query</h2>
		  <div class="listContainer">
		  	<ul id="query-target-list-novel" class="ui-widget-content">
		  	</ul>
		  </div>
		  <input type="file" name="queryFiles" multiple>
	</div>
</div>