<li name="accord">Accordion</li>
<li name="auto">Autocomplete</li>
<li name="button">Button</li>
<li name="date">Datepicker</li>
<li name="dialog">Dialog</li>
<li name="progress">Progressbar</li>
<li name="slider">Slider</li>
<li name="tabs">Tabs</li>