<li name="Salmonella_enterica_arizonae_serovar_62_z4_z23__RSK2980_uid13030">Salmonella enterica subsp. arizonae serovar 62:z4,z23:--, complete genome</li>
<li name="ABAO.fasta">Salmonella enterica subsp. enterica serovar 4,[5],12:i:- str. CVM23701  whole genome shotgun sequence</li>
<li name="AFCI.fasta">Salmonella enterica subsp. enterica serovar Adelaide str. A4-669  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Agona_SL483_uid20063">Salmonella enterica subsp. enterica serovar Agona str. SL483 plasmid, complete sequence</li>
<li name="AFCJ.fasta">Salmonella enterica subsp. enterica serovar Alachua str. R6-377  whole genome shotgun sequence</li>
<li name="AFCK.fasta">Salmonella enterica subsp. enterica serovar Baildon str. R6-199  whole genome shotgun sequence</li>
<li name="ALPN.fasta">Salmonella enterica subsp. enterica serovar Bareilly str. 06-0784  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_Choleraesuis_uid9618">Salmonella enterica subsp. enterica serovar Choleraesuis str. SC-B67, complete genome</li>
<li name="AEJH.fasta">Salmonella enterica subsp. enterica serovar Choleraesuis str. SCSA50 strain A50 CholeraesuisA50_genome_1, whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Dublin_CT_02021853_uid19467">Salmonella enterica subsp. enterica serovar Dublin str. CT_02021853 plasmid pCT02021853_74, complete sequence</li>
<li name="AEUK.fasta">Salmonella enterica subsp. enterica serovar Dublin str. SD3246 strain 3246 Dublin3246_genome_1, whole genome shotgun sequence</li>
<li name="AKFY.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 08-0047  whole genome shotgun sequence</li>
<li name="AKFZ.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 08-0128  whole genome shotgun sequence</li>
<li name="AKGA.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 08-0627  whole genome shotgun sequence</li>
<li name="AJVD.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 2010-1237  whole genome shotgun sequence</li>
<li name="AKFX.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 2010K-0669  whole genome shotgun sequence</li>
<li name="AKFW.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 2010K-2599  whole genome shotgun sequence</li>
<li name="ALEX.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 22510-1 SEEE5101_20, whole genome shotgun sequence</li>
<li name="ALEN.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 485549-17 SEEE4917_20, whole genome shotgun sequence</li>
<li name="ALFB.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 50-3079 SEEE3079_20, whole genome shotgun sequence</li>
<li name="ALFC.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 58-6482 SEEE6482_20, whole genome shotgun sequence</li>
<li name="ALEO.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 596866-22 SEEE6622_20, whole genome shotgun sequence</li>
<li name="ALEP.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 596866-70 SEEE6670_20, whole genome shotgun sequence</li>
<li name="ALEM.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 607307-6 SEEE3076_20, whole genome shotgun sequence</li>
<li name="ALEI.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 622731-39 SEEE3139_20, whole genome shotgun sequence</li>
<li name="ALEQ.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 629164-26 SEEE6426_20, whole genome shotgun sequence</li>
<li name="ALER.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 629164-37 SEEE6437_20, whole genome shotgun sequence</li>
<li name="ALEJ.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 639016-6 SEEE0166_20, whole genome shotgun sequence</li>
<li name="ALES.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 639672-46 SEEE7246_20, whole genome shotgun sequence</li>
<li name="ALET.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 639672-50 SEEE7250_20, whole genome shotgun sequence</li>
<li name="ALEK.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 640631 SEEE0631_20, whole genome shotgun sequence</li>
<li name="ALFA.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 648901 6-18 SEEE1618_20, whole genome shotgun sequence</li>
<li name="ALEZ.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 648905 5-18 SEEE5518_20, whole genome shotgun sequence</li>
<li name="ALEL.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 77-0424 SEEE0424_20, whole genome shotgun sequence</li>
<li name="ALEU.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 77-1427 SEEE1427_20, whole genome shotgun sequence</li>
<li name="ALEV.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 77-2659 SEEE2659_20, whole genome shotgun sequence</li>
<li name="ALEW.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 78-1757 SEEE1757_20, whole genome shotgun sequence</li>
<li name="ALEY.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. 8b-1 SEEE8B1_20, whole genome shotgun sequence</li>
<li name="CAGR.fasta">Salmonella enterica subsp. enterica serovar Enteritidis str. LA5 WGS project CAGR00000000 data,  Scaffold01-Contig1, whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Enteritidis_P125109_uid30687">Salmonella enterica subsp. enterica serovar Enteritidis str. P125109 complete genome</li>
<li name="Salmonella_enterica_serovar_Gallinarum_287_91_uid30689">Salmonella enterica subsp. enterica serovar Gallinarum str. 287/91 complete genome</li>
<li name="AEUL.fasta">Salmonella enterica subsp. enterica serovar Gallinarum str. SG9 strain 9 SG9_genome_1, whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Gallinarum_RKS5078_uid72821">Salmonella enterica subsp. enterica serovar Gallinarum/pullorum str. RKS5078, complete genome</li>
<li name="AFCL.fasta">Salmonella enterica subsp. enterica serovar Gaminara str. A4-567  whole genome shotgun sequence</li>
<li name="AFCM.fasta">Salmonella enterica subsp. enterica serovar Give str. S5-487  whole genome shotgun sequence</li>
<li name="ALPP.fasta">Salmonella enterica subsp. enterica serovar Hadar str. 2011K-0112  whole genome shotgun sequence</li>
<li name="ABFG.fasta">Salmonella enterica subsp. enterica serovar Hadar str. RI_05P066  whole genome shotgun sequence</li>
<li name="ALPO.fasta">Salmonella enterica subsp. enterica serovar Hartford str. 06-0676  whole genome shotgun sequence</li>
<li name="AJGX.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. 41563 SEEH1563_1, whole genome shotgun sequence</li>
<li name="AJHA.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. 41565 SEEH1565_1, whole genome shotgun sequence</li>
<li name="AJGZ.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. 41566 SEEH1566_1, whole genome shotgun sequence</li>
<li name="AJGY.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. 41573 SEEH1573_1, whole genome shotgun sequence</li>
<li name="AJGW.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. 41579 SEEH1579_1, whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Heidelberg_B182_uid88529">Salmonella enterica subsp. enterica serovar Heidelberg str. B182, complete genome</li>
<li name="AMBU.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. CFSAN00322 CFSAN00322_22, whole genome shotgun sequence</li>
<li name="AMBV.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. CFSAN00325 CFSAN00325_22, whole genome shotgun sequence</li>
<li name="AMBW.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. CFSAN00326 CFSAN00326_22, whole genome shotgun sequence</li>
<li name="AMBX.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. CFSAN00328 CFSAN00328_22, whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Heidelberg_SL476_uid20045">Salmonella enterica subsp. enterica serovar Heidelberg str. SL476 plasmid pSL476_91, complete sequence</li>
<li name="ABEL.fasta">Salmonella enterica subsp. enterica serovar Heidelberg str. SL486  whole genome shotgun sequence</li>
<li name="AFCN.fasta">Salmonella enterica subsp. enterica serovar Hvittingfoss str. A4-620  whole genome shotgun sequence</li>
<li name="AFYI.fasta">Salmonella enterica subsp. enterica serovar Infantis str. SARB27  whole genome shotgun sequence</li>
<li name="AFCO.fasta">Salmonella enterica subsp. enterica serovar Inverness str. R8-3668  whole genome shotgun sequence</li>
<li name="ABEH.fasta">Salmonella enterica subsp. enterica serovar Javiana str. GA_MM04042433  whole genome shotgun sequence</li>
<li name="AFCP.fasta">Salmonella enterica subsp. enterica serovar Johannesburg str. S5-703  whole genome shotgun sequence</li>
<li name="ABEI.fasta">Salmonella enterica subsp. enterica serovar Kentucky str. CDC 191  whole genome shotgun sequence</li>
<li name="ABAK.fasta">Salmonella enterica subsp. enterica serovar Kentucky str. CVM29188  whole genome shotgun sequence</li>
<li name="AFCQ.fasta">Salmonella enterica subsp. enterica serovar Minnesota str. A4-603  whole genome shotgun sequence</li>
<li name="ALPQ.fasta">Salmonella enterica subsp. enterica serovar Mississippi str. 2010K-1406  whole genome shotgun sequence</li>
<li name="AFCR.fasta">Salmonella enterica subsp. enterica serovar Mississippi str. A4-633  whole genome shotgun sequence</li>
<li name="AESV.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 19N SEEM19N_1, whole genome shotgun sequence</li>
<li name="AETO.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 2009083312 SEEM3312_10, whole genome shotgun sequence</li>
<li name="AETP.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 2009085258 SEEM5258_1, whole genome shotgun sequence</li>
<li name="AESW.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 29N SEEM29N_1, whole genome shotgun sequence</li>
<li name="AETQ.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 315731156 SEEM1156_1, whole genome shotgun sequence</li>
<li name="AESH.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 315996572 SEEM315_1, whole genome shotgun sequence</li>
<li name="AETC.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 366867 SEEM867_1, whole genome shotgun sequence</li>
<li name="AETD.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 413180 SEEM180_10, whole genome shotgun sequence</li>
<li name="AETB.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 414877 SEEM877_1, whole genome shotgun sequence</li>
<li name="AESX.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 42N SEEM42N_10, whole genome shotgun sequence</li>
<li name="AESY.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 4441 H SEEM41H_10, whole genome shotgun sequence</li>
<li name="AETE.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 446600 SEEM600_10, whole genome shotgun sequence</li>
<li name="AESI.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 495297-1 SEEM971_1, whole genome shotgun sequence</li>
<li name="AESJ.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 495297-3 SEEM973_1, whole genome shotgun sequence</li>
<li name="AESK.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 495297-4 SEEM974_1, whole genome shotgun sequence</li>
<li name="AETI.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 507440-20 SEEM020_10, whole genome shotgun sequence</li>
<li name="AESL.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 515920-1 SEEM201_1, whole genome shotgun sequence</li>
<li name="AESM.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 515920-2 SEEM202_10, whole genome shotgun sequence</li>
<li name="AESN.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 531954 SEEM954_1, whole genome shotgun sequence</li>
<li name="AETG.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 556150-1 SEEM501_10, whole genome shotgun sequence</li>
<li name="AETJ.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 556152 SEEM6152_10, whole genome shotgun sequence</li>
<li name="AETF.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 609458-1 SEEM581_10, whole genome shotgun sequence</li>
<li name="AETH.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 609460 SEEM460_10, whole genome shotgun sequence</li>
<li name="AHHR.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 80959-06 SEEM906_11, whole genome shotgun sequence</li>
<li name="AESZ.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. 81038-01 SEEM801_1, whole genome shotgun sequence</li>
<li name="AESS.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. ATCC BAA710 SEEM710_1, whole genome shotgun sequence</li>
<li name="AESQ.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. CASC_09SCPH15965 SEEM965_1, whole genome shotgun sequence</li>
<li name="AHHS.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. CT_02035278 SEEM5278_103, whole genome shotgun sequence</li>
<li name="AHHT.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. CT_02035318 SEEM5318_10, whole genome shotgun sequence</li>
<li name="AHHU.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. CT_02035320 SEEM5320_10, whole genome shotgun sequence</li>
<li name="AHHV.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. CT_02035321 SEEM5321_10, whole genome shotgun sequence</li>
<li name="AHHW.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. CT_02035327 SEEM5327_10, whole genome shotgun sequence</li>
<li name="AETR.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. IA_2009159199 SEEM9199_1, whole genome shotgun sequence</li>
<li name="AETS.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. IA_2010008282 SEEM8282_10, whole genome shotgun sequence</li>
<li name="AETT.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. IA_2010008283 SEEM8283_1, whole genome shotgun sequence</li>
<li name="AETU.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. IA_2010008284 SEEM8284_10, whole genome shotgun sequence</li>
<li name="AETV.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. IA_2010008285 SEEM8285_1, whole genome shotgun sequence</li>
<li name="AHIK.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. IA_2010008286 SEEM8286_10, whole genome shotgun sequence</li>
<li name="AETW.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. IA_2010008287 SEEM8287_10, whole genome shotgun sequence</li>
<li name="AEST.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. LQC 10 SEEM010_10, whole genome shotgun sequence</li>
<li name="AETK.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. MB101509-0077 SEEM0077_1, whole genome shotgun sequence</li>
<li name="AETL.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. MB102109-0047 SEEM0047_1, whole genome shotgun sequence</li>
<li name="AETM.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. MB110209-0055 SEEM0055_10, whole genome shotgun sequence</li>
<li name="AETN.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. MB111609-0052 SEEM0052_1, whole genome shotgun sequence</li>
<li name="AETA.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. MD_MDA09249507 SEEM507_1, whole genome shotgun sequence</li>
<li name="AESO.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. NC_MB110209-0054 SEEM054_10, whole genome shotgun sequence</li>
<li name="AESP.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. OH_2009072675 SEEM675_1, whole genome shotgun sequence</li>
<li name="AFCS.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. S5-403  whole genome shotgun sequence</li>
<li name="AESU.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. SARB30 SEEM030_1, whole genome shotgun sequence</li>
<li name="AESR.fasta">Salmonella enterica subsp. enterica serovar Montevideo str. SARB31 SEEM031_10, whole genome shotgun sequence</li>
<li name="AHUB.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 19443 SEEN443_10, whole genome shotgun sequence</li>
<li name="AHTP.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 19447 SEEN447_10, whole genome shotgun sequence</li>
<li name="AHTQ.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 19449 SEEN449_10, whole genome shotgun sequence</li>
<li name="AHUE.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 19470 SEEN470_10, whole genome shotgun sequence</li>
<li name="AHUF.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 19536 SEEN536_10, whole genome shotgun sequence</li>
<li name="AHTR.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 19567 SEEN567_10, whole genome shotgun sequence</li>
<li name="AHUD.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 19593 SEEN593_10, whole genome shotgun sequence</li>
<li name="AHTV.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 21538 SEEN538_10, whole genome shotgun sequence</li>
<li name="AHTL.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 21539 SEEN539_12, whole genome shotgun sequence</li>
<li name="AHTT.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 21550 SEEN550_10, whole genome shotgun sequence</li>
<li name="AHUA.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 21554 SEEN554_10, whole genome shotgun sequence</li>
<li name="AHTO.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 21559 SEEN559_12, whole genome shotgun sequence</li>
<li name="AHTW.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 22425 SEEN425_10, whole genome shotgun sequence</li>
<li name="AHTX.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 22462 SEEN462_100, whole genome shotgun sequence</li>
<li name="AHTU.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 22513 SEEN513_10, whole genome shotgun sequence</li>
<li name="AHTM.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 33953 SEEN953_101, whole genome shotgun sequence</li>
<li name="AHTJ.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 35185 SEEN185_102, whole genome shotgun sequence</li>
<li name="AHTN.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 35188 SEEN188_10, whole genome shotgun sequence</li>
<li name="AHTK.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 35199 SEEN199_103, whole genome shotgun sequence</li>
<li name="AHTS.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 35202 SEEN202_10, whole genome shotgun sequence</li>
<li name="AHUC.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 37978 SEEN978_10, whole genome shotgun sequence</li>
<li name="AHUG.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM 4176 SEEN176_10, whole genome shotgun sequence</li>
<li name="AHTZ.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM N1543 SEEN543_10, whole genome shotgun sequence</li>
<li name="AHTY.fasta">Salmonella enterica subsp. enterica serovar Newport str. CVM N18486 SEEN486_100, whole genome shotgun sequence</li>
<li name="AJMN.fasta">Salmonella enterica subsp. enterica serovar Newport str. Levine 1 SEENLE01_100, whole genome shotgun sequence</li>
<li name="AJMO.fasta">Salmonella enterica subsp. enterica serovar Newport str. Levine 15 SEENLE15_10, whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Newport_SL254_uid18747">Salmonella enterica subsp. enterica serovar Newport str. SL254 plasmid pSN254, complete sequence</li>
<li name="ABEW.fasta">Salmonella enterica subsp. enterica serovar Newport str. SL317  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Paratyphi_A_AKU_12601_uid30943">Salmonella enterica subsp. enterica serovar Paratyphi A str. AKU_12601 complete genome, strain AKU_12601</li>
<li name="Salmonella_enterica_Paratypi_ATCC_9150_uid13086">Salmonella enterica subsp. enterica serovar Paratyphi A str. ATCC 9150, complete genome</li>
<li name="Salmonella_enterica_serovar_Paratyphi_B_SPB7_uid27803">Salmonella enterica subsp. enterica serovar Paratyphi B str. SPB7, complete genome</li>
<li name="Salmonella_enterica_serovar_Paratyphi_C_RKS4594_uid20993">Salmonella enterica subsp. enterica serovar Paratyphi C strain RKS4594, complete genome</li>
<li name="AHIA.fasta">Salmonella enterica subsp. enterica serovar Pomona str. ATCC 10729 SEEPO729_101, whole genome shotgun sequence</li>
<li name="AFCT.fasta">Salmonella enterica subsp. enterica serovar Rubislaw str. A4-653  whole genome shotgun sequence</li>
<li name="ABAM.fasta">Salmonella enterica subsp. enterica serovar Saintpaul str. SARA23  whole genome shotgun sequence</li>
<li name="ABAN.fasta">Salmonella enterica subsp. enterica serovar Saintpaul str. SARA29  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Schwarzengrund_CVM19633_uid19459">Salmonella enterica subsp. enterica serovar Schwarzengrund str. CVM19633 plasmid pCVM19633_110, complete sequence</li>
<li name="ABEJ.fasta">Salmonella enterica subsp. enterica serovar Schwarzengrund str. SL480  whole genome shotgun sequence</li>
<li name="AFCU.fasta">Salmonella enterica subsp. enterica serovar Senftenberg str. A4-543  whole genome shotgun sequence</li>
<li name="CAGQ.fasta">Salmonella enterica subsp. enterica serovar Senftenberg str. SS209 WGS project CAGQ00000000 data,  00007, whole genome shotgun sequence</li>
<li name="ACBF.fasta">Salmonella enterica subsp. enterica serovar Tennessee str. CDC07-0191  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Typhi_Ty2_uid371">Salmonella enterica subsp. enterica serovar Typhi Ty2, complete genome</li>
<li name="CAAQ.fasta">Salmonella enterica subsp. enterica serovar Typhi str. 404ty,  contig00001, whole genome shotgun sequence</li>
<li name="CAAY.fasta">Salmonella enterica subsp. enterica serovar Typhi str. AG3,  contig00001, whole genome shotgun sequence</li>
<li name="AJGK.fasta">Salmonella enterica subsp. enterica serovar Typhi str. BL196  whole genome shotgun sequence</li>
<li name="AKZO.fasta">Salmonella enterica subsp. enterica serovar Typhi str. CR0044  whole genome shotgun sequence</li>
<li name="AKIC.fasta">Salmonella enterica subsp. enterica serovar Typhi str. CR0063  whole genome shotgun sequence</li>
<li name="CAAR.fasta">Salmonella enterica subsp. enterica serovar Typhi str. E00-7866,  contig00001, whole genome shotgun sequence</li>
<li name="CAAS.fasta">Salmonella enterica subsp. enterica serovar Typhi str. E01-6750,  contig00001, whole genome shotgun sequence</li>
<li name="CAAT.fasta">Salmonella enterica subsp. enterica serovar Typhi str. E02-1180,  contig00001, whole genome shotgun sequence</li>
<li name="CAAU.fasta">Salmonella enterica subsp. enterica serovar Typhi str. E98-0664,  contig00001, whole genome shotgun sequence</li>
<li name="CAAV.fasta">Salmonella enterica subsp. enterica serovar Typhi str. E98-2068,  contig00001, whole genome shotgun sequence</li>
<li name="CAAZ.fasta">Salmonella enterica subsp. enterica serovar Typhi str. E98-3139,  contig00001, whole genome shotgun sequence</li>
<li name="CAAW.fasta">Salmonella enterica subsp. enterica serovar Typhi str. J185,  contig00001, whole genome shotgun sequence</li>
<li name="CAAX.fasta">Salmonella enterica subsp. enterica serovar Typhi str. M223,  contig00001, whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Typhi_P_stx_12_uid80939">Salmonella enterica subsp. enterica serovar Typhi str. P-stx-12, complete genome</li>
<li name="AJXA.fasta">Salmonella enterica subsp. enterica serovar Typhi str. ST0208  whole genome shotgun sequence</li>
<li name="AJTD.fasta">Salmonella enterica subsp. enterica serovar Typhi str. UJ308A  whole genome shotgun sequence</li>
<li name="AJTE.fasta">Salmonella enterica subsp. enterica serovar Typhi str. UJ816A  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Typhimurium_SL1344_uid50407">Salmonella enterica subsp. enterica serovar Typhimurium SL1344 complete genome</li>
<li name="Salmonella_enterica_serovar_Typhimurium_14028S_uid33067">Salmonella enterica subsp. enterica serovar Typhimurium str. 14028S plasmid, complete sequence</li>
<li name="Salmonella_enterica_serovar_Typhimurium_798_uid66023">Salmonella enterica subsp. enterica serovar Typhimurium str. 798, complete genome</li>
<li name="Salmonella_enterica_serovar_Typhimurium_uid40625">Salmonella enterica subsp. enterica serovar Typhimurium str. D23580 complete genome</li>
<li name="AJTU.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. ST1660/06  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Typhimurium_4_74_uid56087">Salmonella enterica subsp. enterica serovar Typhimurium str. ST4/74, complete genome</li>
<li name="AMDX.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm1  whole genome shotgun sequence</li>
<li name="AMEE.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm10  whole genome shotgun sequence</li>
<li name="AMEF.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm11  whole genome shotgun sequence</li>
<li name="AMEG.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm12  whole genome shotgun sequence</li>
<li name="AMDY.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm2  whole genome shotgun sequence</li>
<li name="AMEB.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm3  whole genome shotgun sequence</li>
<li name="AMEC.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm4  whole genome shotgun sequence</li>
<li name="AMEH.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm5  whole genome shotgun sequence</li>
<li name="AMED.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm6  whole genome shotgun sequence</li>
<li name="AMDZ.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm8  whole genome shotgun sequence</li>
<li name="AMEA.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. STm9  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Typhimurium_T000240_uid45951">Salmonella enterica subsp. enterica serovar Typhimurium str. T000240 DNA, complete genome</li>
<li name="AERV.fasta">Salmonella enterica subsp. enterica serovar Typhimurium str. TN061786  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Typhimurium_UK_1_uid63211">Salmonella enterica subsp. enterica serovar Typhimurium str. UK-1, complete genome</li>
<li name="AFCV.fasta">Salmonella enterica subsp. enterica serovar Uganda str. R8-3404  whole genome shotgun sequence</li>
<li name="AFCW.fasta">Salmonella enterica subsp. enterica serovar Urbana str. R8-2977  whole genome shotgun sequence</li>
<li name="ABFH.fasta">Salmonella enterica subsp. enterica serovar Virchow str. SL491  whole genome shotgun sequence</li>
<li name="AFCX.fasta">Salmonella enterica subsp. enterica serovar Wandsworth str. A4-580  whole genome shotgun sequence</li>
<li name="Salmonella_enterica_serovar_Weltevreden_2007_60_3289_1_uid61197">Salmonella enterica subsp. enterica serovar Weltevreden str. 2007-60-3289-1 complete genome,  1</li>
<li name="ABFF.fasta">Salmonella enterica subsp. enterica serovar Weltevreden str. HI_N05-537  whole genome shotgun sequence</li>
<li name="AGRM.fasta">Salmonella enterica subsp. houtenae str. ATCC BAA-1581  whole genome shotgun sequence</li>
<li name="CAFD.fasta">Salmonella enterica subsp. salamae str. 3588/07, WGS project CAFD00000000 data,  SAL1.0.1, whole genome shotgun sequence</li>
