<TMPL_INCLUDE NAME='pageTop.tmpl'>

<div class="ui-state-heading">
<p>Your Panseq run has been submitted. The settings of your run were: </p>

<TMPL_LOOP NAME="LOOP_VAL">
	<p><TMPL_VAR NAME="VAL"><p>
	<p><TMPL_VAR NAME="INFO"><p>
</TMPL_LOOP>

</div>


<TMPL_INCLUDE NAME='pageBottom.tmpl'>