<div class="strainHalf ui-state-default">
	<h2 class="ui-widget-header">Select Your Datafile and Number of Loci</h2>
	<p>Number of Loci <input name="numberOfLoci" type="number" min="0" max="1000" step="1" value="0" class="ui-state-active"></p>
	<p>Datafile <input name="lociFile" type="file" class="ui-state-active"></p>
	<p>Please note that '0' loci will select the minimum number of loci to provide a unique fingerprint for each strain in your file.</p>
</div>