<div class="strainHalf ui-state-default">
	<h2 class="ui-widget-header">Strain Selection</h2>
	<TMPL_INCLUDE NAME="queryStrainSelection.tmpl">
</div>

<div class="paramHalf ui-state-default" >
	<h2 class ="ui-widget-header">Parameters</h2>
	<TMPL_INCLUDE NAME="novelRegionParameters.tmpl">
	<TMPL_INCLUDE NAME="coreParameters.tmpl">
</div>