<TMPL_INCLUDE NAME='pageTop.tmpl'>

<h2 class="pageHeader ui-widget-header">Processing Results</h2>
<div class="pageWrapper">
	<p>
	Your results are currently being processed.
	Please check again in a few minutes.
	</p>
</div>

<TMPL_INCLUDE NAME='pageBottom.tmpl'>